html {
    position: relative;
    min-height: 100%;
}
body {

    margin-bottom: 60px;
}
.footer {

    background-color: rgba(36, 45, 63, 0.39);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.container {
    position: relative;

    height: 100%;
    margin: 0 auto;
    width: 800px;

}

div.menu {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    padding: 0px 20px 0px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10;

}

div.canvas {
    position: absolute;
}

td {
    text-align: center;
}