<!DOCTYPE HTML>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header">
    <title id="pageTitle">Институты</title>


</head>
<body>
<div th:replace="fragments/layout :: navbar"></div>

<div class="container">
    <form id="editForm" action="#" class="form-horizontal"
          style="display: none;">

        <div class="form-group">
            <label class="col-xs-3 control-label">Название группы</label>
            <div class="col-xs-5">
                <input type="hidden" class="form-control" name="departmentId"
                       id="departmentId"/>
                <input type="text" class="form-control"  name="departmentName"
                       th:required="required" id="departmentName"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-3">
                <button type="submit" class="btn btn-default" id="saveEdit">Редактировать</button>
            </div>
        </div>
    </form>


    <form id="createForm"  action="#" class="form-horizontal"
    style="display: none;">
        <div class="form-group">
            <label class="col-xs-3 control-label">Название группы</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="departmentName"
                       th:required="required" id="departmentName"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-3">
                <button type="submit" class="btn btn-default" id="saveCreate">Добавить</button>
            </div>
        </div>
    </form>


    <div id="toolbar" class="btn-user">
        <a href="#" class="btn btn-primary" data-toggle="modal" id="create"><span
                class="glyphicon glyphicon-file"></span> Создать</a>
        <a href="#" class="btn btn-primary" id="edit"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a>
        <a href="#" class="btn btn-primary" id="delete"><span class="glyphicon glyphicon-remove"></span> Удалить</a>
    </div>
    <div>
        <table
                id="myTable"
                data-toggle="table"
                data-toolbar="#toolbar"
                data-search="true"
                data-show-export="true"
                data-sort-name="stargazers_count"
                data-sort-order="desc"
                class="table table-striped"
                data-pagination="true"
        >
            <thead>
            <tr>
                <th data-visible="false" data-field="department_id">id</th>
                <th data-sortable="true">NAME</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="department: ${departments}" class="clickable-row">
                <td th:text="${department.departmentId}"></td>
                <td th:text="${department.departmentName}"></td>
            </tr>
            </tbody>

        </table>
    </div>


</div>
<div th:replace="fragments/layout :: footer"></div>

<script>

    var $editForm = $('#editForm'),
        $createForm = $('#createForm'),
        $table = $('#myTable'),
        $buttonDel = $('#delete'),
        $buttonEdit = $('#edit'),
        $buttonSave = $('#save'),
        $buttonCreate = $('#create'),
        $buttonSaveCreate = $('#saveCreate'),
        $buttonSaveEdit = $('#saveEdit');

    $createForm.validate();
    $editForm.validate();

    function getSelectedRow() {
        var index = $table.find('tr.info').data('index');
        return $table.bootstrapTable('getData')[index];
    }



    $buttonCreate.on("click", function () {
        bootbox.dialog({
            title: 'Добавить институт',
            message: $('#createForm'),
            show: false
        })
            .on('shown.bs.modal', function () {
                $('#createForm')
                    .show()
            })
            .on('hide.bs.modal', function (e) {
                $('#createForm').hide().appendTo('body');
            })
            .modal('show');
    });


    $buttonEdit.on('click', function () {
        // Get the record's ID via attribute
        var id = getSelectedRow().department_id;
        $.ajax({
            url: '/api/department/' + id,
            method: 'GET'
        }).done(function (response) {
            // Populate the form fields with the data returned from server
            $('#editForm')
                .find('[name="departmentId"]').val(id).end()
                .find('[name="departmentName"]').val(response.departmentName).end();


        });
        // Show the dialog
        bootbox
                .dialog({
                            title: 'Редактирование института',
                            message: $('#editForm'),
                            show: false // We will show it manually later
                        })
                .on('shown.bs.modal', function () {
                    $('#editForm')
                            .show()                             // Show the login form

                })
                .on('hide.bs.modal', function (e) {
                    // Bootbox will remove the modal (including the body which contains the login form)
                    // after hiding the modal
                    // Therefor, we need to backup the form
                    $('#editForm').hide().appendTo('body');
                })
                .modal('show');
    })

    $buttonDel.click(function () {
        var del_id = getSelectedRow().department_id;


        if (confirm("Уверены, что хотите удалить?")) {
            $.ajax({
                       type: "DELETE",
                       url: "/api/department/" + del_id,
                       data: del_id,
                       success: function () {
                           location.reload();
                       },
                       error: function(XMLHttpRequest, textStatus, errorThrown) {
                           alert("Не получилось удалить! Ошибка: "+ errorThrown);
                       }

                   });
        }
        return false;
    });

    $buttonSaveEdit.on('click', function () {

        id = $editForm.find('[name="departmentId"]').val();
        $.ajax({
                   beforeSend: function (xhrObj) {
                       xhrObj.setRequestHeader("Content-Type", "application/json");
                       xhrObj.setRequestHeader("Accept", "application/json");
                   },
                   url: '/api/department/' + id,
                   dataType: "json",
                   method: 'PATCH',
                   data: JSON.stringify($editForm.serializeObject())
        }).done(function (response) {
            location.reload();
        });
    })
    $buttonSaveCreate.on('click', function () {
        $.ajax({
                   beforeSend: function (xhrObj) {
                       xhrObj.setRequestHeader("Content-Type", "application/json");
                       xhrObj.setRequestHeader("Accept", "application/json");
                   },
            url: "/api/department/",
                   dataType: "json",
                   method: 'POST',
                   data: JSON.stringify($createForm.serializeObject())
        }).done(function (resp) {
            alert(resp)
            // location.reload();


        });

    });
    $.fn.serializeObject = function () {

        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {


            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {

                    o[this.name] = [o[this.name]];
                }

                o[this.name].push(this.value);
            } else {
                    o[this.name] = this.value;

            }


        });
        return o;
    };

</script>
</body>
</html>
