<!DOCTYPE HTML>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header">
    <title id="pageTitle">Группы</title>
</head>
<body>
<div th:replace="fragments/layout :: navbar"></div>

<div class="container">


    <form id="editForm" action="#" class="form-horizontal"
          style="display: none;">
        <div class="form-group">
            <label class="col-xs-3 control-label">Институт</label>
            <div class="col-xs-5">
                <select th:value="${department}" th:name="department"
                        th:id="department">
                    <option value="null"> Не указано</option>
                    <option th:each="department: ${departments}"
                            th:value="${department.departmentId}"
                            th:text="${department.departmentName}"></option>
                </select>
            </div>

        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Название группы</label>
            <div class="col-xs-5">
                <input type="hidden" class="form-control" name="groupId"
                       id="groupId"/>
                <input type="text" class="form-control"  name="groupName"
                       id="groupName"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-3">
                <button type="submit" class="btn btn-default" id="saveEdit">Редактировать</button>
            </div>
        </div>
    </form>

    <form id="createForm" action="#" class="form-horizontal"
          style="display: none;">
        <div class="form-group">
            <label class="col-xs-3 control-label">Институт</label>
            <div class="col-xs-5">
                <select th:value="${department}" th:name="department"
                        th:id="department">
                    <option value="null"> Не указано</option>
                    <option th:each="department: ${departments}"
                            th:value="${department.departmentId}"
                            th:text="${department.departmentName}"></option>
                </select>
            </div>

        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Название группы</label>
            <div class="col-xs-5">
                <input type="text" class="form-control"  name="groupName"
                       id="groupName"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-3">
                <button type="submit" class="btn btn-default" id="saveCreate">Добавить</button>
            </div>
        </div>
    </form>


    <div id="toolbar" class="btn-user">
        <a href="#" class="btn btn-primary" id="create"><span
                class="glyphicon glyphicon-file"></span> Создать</a>
        <a href="#" class="btn btn-primary" id="edit"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a>
        <a href="#" class="btn btn-primary" id="delete"><span class="glyphicon glyphicon-remove"></span> Удалить</a>
    </div>
    <div>
        <table data-toggle="table"
               data-sort-name="stargazers_count"
               data-sort-order="desc"
               class="table table-striped" id="myTable"
               data-search="true"
               data-pagination="true"
               data-toolbar="#toolbar">
            <thead>
            <tr>
                <th data-visible="false" data-field="group_id"></th>
                <th data-sortable="true">Название</th>
                <th data-visible="false" data-field="department_id">id</th>
                <th data-sortable="true">Институт</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group: ${groups}" class="clickable-row">
                <td th:text="${group.groupId}"></td>
                <td th:text="${group.groupName}"></td>
                <td th:text="${group.department != null ? group.department.departmentId :''}"></td>
                <td th:text="${group.department != null ? group.department.departmentName :''}"></td>
            </tr>
            </tbody>

        </table>
    </div>


</div>
<div th:replace="fragments/layout :: footer"></div>
<script>
    var $editForm = $('#editForm'),
        $createForm = $('#createForm'),
        $table = $('#myTable'),
        $buttonDel = $('#delete'),
        $buttonEdit = $('#edit'),
        $buttonSave = $('#save'),
        $buttonCreate = $('#create'),
        $buttonSaveCreate = $('#saveCreate'),
        $buttonSaveEdit = $('#saveEdit');

    function getSelectedRow() {
        var index = $table.find('tr.info').data('index');
        return $table.bootstrapTable('getData')[index];
    };

    $buttonCreate.on('click', function () {

            bootbox
                    .dialog({
                                title: 'Создание группы',
                                message: $('#createForm'),
                                show: false
                            })
                    .on('shown.bs.modal', function () {
                        $('#createForm')
                                .show()                             // Show the login form

                    })
                    .on('hide.bs.modal', function (e) {

                        $('#createForm').hide().appendTo('body');
                    })
                    .modal('show');

    })

        $buttonEdit.on('click', function () {
            // Get the record's ID via attribute
            var id = getSelectedRow().group_id;
            var departId = getSelectedRow().department_id;
            $.ajax({
                url: '/api/group/' + id,
                method: 'GET'
            }).done(function (response) {
                $editForm
                    .find('[name="department"]').val(departId).end()
                    .find('[name="groupName"]').val(response.groupName).end()
                    .find('[name="groupId"]').val(id).end();


                $editForm.val(departId);

            });
            bootbox
                    .dialog({
                                title: 'Редактирование института',
                                message: $('#editForm'),
                                show: false // We will show it manually later
                            })
                    .on('shown.bs.modal', function () {
                        $('#editForm')
                                .show()                             // Show the login form

                    })
                    .on('hide.bs.modal', function (e) {

                        $('#editForm').hide().appendTo('body');
                    })
                    .modal('show');
        })


    $buttonSaveEdit.on('click', function () {

        id = $editForm.find('[name="groupId"]').val();
        $.ajax({
                   beforeSend: function (xhrObj) {
                       xhrObj.setRequestHeader("Content-Type", "application/json");
                       xhrObj.setRequestHeader("Accept", "application/json");
                   },
                   url: '/api/group/' + id,
                   dataType: "json",
                   method: 'PATCH',
                   data: JSON.stringify($editForm.serializeObject())
        }).done(function (response) {
            location.reload();
        });
    })
    $buttonSaveCreate.on('click', function () {
        $.ajax({
                   beforeSend: function (xhrObj) {
                       xhrObj.setRequestHeader("Content-Type", "application/json");
                       xhrObj.setRequestHeader("Accept", "application/json");
                   },
                   url: '/api/group/',
                   dataType: "json",
                   method: 'POST',
                   data: JSON.stringify($createForm.serializeObject())
        }).done(function () {
            setTimeout(function(){
                location.reload();
            }, 2000);

        });

    });
    $buttonDel.click(function () {
        var del_id = getSelectedRow().group_id;


        if (confirm("Уверены, что хотите удалить?")) {
            $.ajax({
                       type: "DELETE",
                       url: "/api/group/" + del_id,
                       data: del_id,
                       success: function () {
                           location.reload();
                       },
                       error: function(XMLHttpRequest, textStatus, errorThrown) {
                           alert("Не получилось удалить! Ошибка: "+ errorThrown);
                       }

                   });
        }
        return false;
    });
    $.fn.serializeObject = function () {
        var empty = {};
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {


                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {

                        o[this.name] = [o[this.name]];
                    }

                    o[this.name].push(this.value);
                } else {

                    if (this.name.includes('department')) {
                        if (this.value !== 'null') {

                            o[this.name] = '/api/' + this.name + '/' + this.value;
                        }
                        else {
                            o[this.name] = '';
                        }
                    } else {
                        o[this.name] = this.value;
                    }
                }


        });
        return o;
    };

</script>

</body>
</html>
