<!DOCTYPE HTML>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header">
</head>
<body>
<div th:replace="fragments/layout :: navbar"></div>

<div class="container">

    <form id="editForm" action="#" class="form-horizontal"
          style="display: none;">
        <div class="form-group">
            <label class="col-xs-3 control-label">Группа</label>
            <div class="col-xs-5">
                <select th:value="${group}" th:name="group"
                       >
                    <option value="null"> Не указано</option>
                    <option th:each="group: ${groups}"
                            th:value="${group.groupId}"
                            th:text="${group.groupName}"></option>
                </select>
            </div>

        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Институт</label>
            <div class="col-xs-5">
                <select th:value="${department}" th:name="department"
                      >
                    <option value="null"> Не указано</option>
                    <option th:each="department: ${departments}"
                            th:value="${department.departmentId}"
                            th:text="${department.departmentName}"></option>
                </select>
            </div>

        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Должность</label>
            <div class="col-xs-5">
                <select th:value="${position}" th:name="position"
                        >
                    <option value="null"> Не указано</option>
                    <option th:each="position: ${positions}"
                            th:value="${position.positionId}"
                            th:text="${position.positionName}"></option>
                </select>
            </div>

        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Имя</label>
            <div class="col-xs-5">
                <input type="hidden" class="form-control" name="userId"
                       id="userId"/>
                <input type="text" class="form-control" name="name"
                      />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Фамилия</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="surname"
                       />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Отчество</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="middlename"
                       />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Роль</label>
            <div class="col-xs-5">
            <input type="text" class="form-control" name="role"
                       />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Логин</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="login"
                />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-3">
                <button type="submit" class="btn btn-default" id="saveEdit">Редактировать</button>
            </div>
        </div>
    </form>

    <form id="createForm" action="#" class="form-horizontal"
          style="display: none;">
        <div class="form-group">
            <label class="col-xs-3 control-label">Группа</label>
            <div class="col-xs-5">
                <select th:value="${group}" th:name="group"
                        th:id="group">

                    <option value="null"> Не указано</option>
                    <option th:each="group: ${groups}"
                            th:value="${group.groupId}"
                            th:text="${group.groupName}"></option>

                </select>
            </div>

        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Институт</label>
            <div class="col-xs-5">
                <select th:value="${department}" th:name="department"
                        th:id="department">

                    <option value="null"> Не указано</option>
                    <option th:each="department: ${departments}"
                            th:value="${department.departmentId}"
                            th:text="${department.departmentName}"></option>

                </select>
            </div>

        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Должность</label>
            <div class="col-xs-5">
                <select th:value="${position}" th:name="position"
                        th:id="position">

                    <option value="null"> Не указано</option>
                    <option th:each="position: ${positions}"
                            th:value="${position.positionId}"
                            th:text="${position.positionName}"></option>
                </select>
            </div>

        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Имя</label>
            <div class="col-xs-5">
                <input type="hidden" class="form-control" name="userId"
                />
                <input type="text" class="form-control" name="name"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Фамилия</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="surname"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Отчество</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="middlename"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Роль</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="role"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">Логин</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" name="login"
                />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-3">
                <button type="submit" class="btn btn-default" id="saveCreate">Добавить</button>
            </div>
        </div>
    </form>


    <div id="toolbar" class="btn-user">
        <a href="#" class="btn btn-primary" id="create"><span
                class="glyphicon glyphicon-file"></span> Создать</a>
        <a href="#" class="btn btn-primary" id="edit"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a>
        <a href="#" class="btn btn-primary" id="delete"><span class="glyphicon glyphicon-remove"></span> Удалить</a>
    </div>
    <div>
        <table data-toggle="table"
               data-sort-name="stargazers_count"
               data-sort-order="desc"
               class="table table-striped" id="myTable"
               data-search="true"
               data-pagination="true"
               data-toolbar="#toolbar">
            <thead>
            <tr>
                <th data-visible="false" data-field="user_id"></th>
                <th data-sortable="true">ФИО</th>
                <th data-sortable="true">Роль</th>
                <th data-sortable="true">Логин</th>
                <th data-visible="false" data-field="group_id"></th>
                <th data-sortable="true">Группа</th>
                <th data-visible="false" data-field="position_id"></th>
                <th data-sortable="true">Должность</th>
                <th data-visible="false" data-field="department_id"></th>
                <th data-sortable="true">Институт</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}" class="clickable-row">
                <td th:text="${user.userId}"></td>
                <td th:text="${user.surname+' '+user.name+' '+user.middlename}"
                    th:unless="${user.middlename == null}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${user.login }"></td>
                <td th:text="${user.group != null ? user.group.groupId :''}"></td>
                <td th:text="${user.group != null ? user.group.groupName :''}"></td>
                <td th:text="${user.position != null ? user.position.positionId:''}"></td>
                <td th:text="${user.position != null ? user.position.positionName:''}"></td>
                <td th:text="${user.department != null ? user.department.departmentId:''}"></td>
                <td th:text="${user.department != null ? user.department.departmentName:''}"></td>
            </tr>
            </tbody>

        </table>
    </div>


</div>
<div th:replace="fragments/layout :: footer"></div>

<script>
    var $editForm = $('#editForm'),
        $createForm = $('#createForm'),
        $table = $('#myTable'),
        $buttonDel = $('#delete'),
        $buttonEdit = $('#edit'),
        $buttonSave = $('#save'),
        $buttonCreate = $('#create'),
        $buttonSaveCreate = $('#saveCreate'),
        $buttonSaveEdit = $('#saveEdit');

    function getSelectedRow() {
        var index = $table.find('tr.info').data('index');
        return $table.bootstrapTable('getData')[index];
    };

    $buttonCreate.on('click', function () {

        bootbox
            .dialog({
                        title: 'Добавить пользователя',
                message: $('#createForm'),
                show: false
            })
            .on('shown.bs.modal', function () {
                $('#createForm')
                    .show()                             // Show the login form

            })
            .on('hide.bs.modal', function (e) {

                $('#createForm').hide().appendTo('body');
            })
            .modal('show');

    })

    $buttonEdit.on('click', function () {
        // Get the record's ID via attribute
        var id = getSelectedRow().user_id;
        var departId = getSelectedRow().department_id;
        var positionId = getSelectedRow().position_id;
        var groupId = getSelectedRow().group_id;

        $.ajax({
            url: '/api/user/' + id,
            method: 'GET'
        }).done(function (response) {


            $editForm
                    .find('[name="department"]').val(departId).end()
                    .find('[name="group"]').val(groupId).end()
                    .find('[name="position"]').val(positionId).end()
                    .find('[name="role"]').val(response.role).end()
                    .find('[name="name"]').val(response.name).end()
                    .find('[name="login"]').val(response.login).end()
                    .find('[name="surname"]').val(response.surname).end()
                    .find('[name="middlename"]').val(response.middlename).end()
                    .find('[name="userId"]').val(id).end();
        });

        bootbox
                .dialog({
                            title: 'Редактирование института',
                            message: $('#editForm'),
                            show: false // We will show it manually later
                        })
                .on('shown.bs.modal', function () {
                    $('#editForm')
                            .show()                             // Show the login form

                })
                .on('hide.bs.modal', function (e) {

                    $('#editForm').hide().appendTo('body');
                })
                .modal('show');
    })


    $buttonSaveEdit.on('click', function () {

        id = $editForm.find('[name="userId"]').val();
        $.ajax({
            beforeSend: function (xhrObj) {
                xhrObj.setRequestHeader("Content-Type", "application/json");
                xhrObj.setRequestHeader("Accept", "application/json");
            },
            url: '/api/user/' + id,
            dataType: "json",
            method: 'PATCH',
            data: JSON.stringify($editForm.serializeObject())
        }).done(function (response) {
            location.reload(true);
        });
    })
    $buttonSaveCreate.on('click', function () {
        $.ajax({
            beforeSend: function (xhrObj) {
                xhrObj.setRequestHeader("Content-Type", "application/json");
                xhrObj.setRequestHeader("Accept", "application/json");
            },
            url: '/api/user',
            dataType: "json",
            type: "POST",
            data: JSON.stringify($createForm.serializeObject())
        }).done(function () {

            location.reload();


        });

    });
    $buttonDel.click(function () {
        var del_id = getSelectedRow().user_id;

        if (confirm("Уверены, что хотите удалить?")) {
            $.ajax({
                type: "DELETE",
                url: "/api/user/" + del_id,
                success: function () {
                    location.reload(true);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Не получилось удалить! Ошибка: " + errorThrown);
                }

            });
        }
        return false;
    });
    $.fn.serializeObject = function () {

        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {


            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {

                    o[this.name] = [o[this.name]];
                }

                o[this.name].push(this.value);
            } else {

                if ('department position group'.indexOf(this.name) >= 0) {
                    if (this.value !== 'null') {
                        o[this.name] = '/api/' + this.name + '/' + this.value;
                    } else {
                        o[this.name] = '';
                    }
                } else {
                    o[this.name] = this.value;
                }
            }


        });
        return o;
    };

</script>
</body>
</html>
