<!DOCTYPE HTML>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: header">
    <title id="pageTitle">Группы</title>
</head>
<body>
<div th:replace="fragments/layout :: navbar"></div>

<div class="container">


    <p th:text="${userTests}"></p>

    <div id="toolbar" class="btn-user">
        <a href="#" class="btn btn-primary" id="create"><span
                class="glyphicon glyphicon-file"></span> Назначить тест</a>
        <a href="#" class="btn btn-primary" id="edit"><span class="glyphicon glyphicon-pencil"></span> Редактировать</a>
        <a href="#" class="btn btn-primary" id="delete"><span class="glyphicon glyphicon-remove"></span> Удалить</a>
    </div>
    <div>
        <table data-toggle="table"
               data-sort-name="stargazers_count"
               data-sort-order="desc"
               class="table table-striped" id="myTable"
               data-search="true"
               data-pagination="true"
               data-toolbar="#toolbar">
            <thead>
            <tr>
                <th data-visible="false" data-field="id"></th>
                <th data-visible="false" data-field="user_id"></th>
                <th data-sortable="true">Пользователь</th>
                <th data-visible="false" data-field="test_id">id</th>
                <th data-sortable="true">Тест</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userTest: ${userTests}" class="clickable-row">
                <td th:text="${userTest.id}"></td>
                <td th:text="${userTest.user.userId}"></td>
                <td th:text="${userTest.user.name}"></td>
                <td th:text="${userTest.test.testId}"></td>
                <td th:text="${userTest.test.testName}"></td>

            </tr>
            </tbody>

        </table>
    </div>


</div>
<div th:replace="fragments/layout :: footer"></div>
<script>
    var $editForm = $('#editForm'),
            $createForm = $('#createForm'),
            $table = $('#myTable'),
            $buttonDel = $('#delete'),
            $buttonEdit = $('#edit'),
            $buttonSave = $('#save'),
            $buttonCreate = $('#create'),
            $buttonSaveCreate = $('#saveCreate'),
            $buttonSaveEdit = $('#saveEdit');

    function getSelectedRow() {
        var index = $table.find('tr.info').data('index');
        return $table.bootstrapTable('getData')[index];
    };

    $buttonCreate.on('click', function () {

        bootbox
                .dialog({
                            title: 'Добавить пользователя',
                            message: $('#createForm'),
                            show: false
                        })
                .on('shown.bs.modal', function () {
                    $('#createForm')
                            .show()                             // Show the login form

                })
                .on('hide.bs.modal', function (e) {

                    $('#createForm').hide().appendTo('body');
                })
                .modal('show');

    })

    $buttonDel.click(function () {
        var del_id = getSelectedRow().group_id;


        if (confirm("Уверены, что хотите удалить?")) {
            $.ajax({
                       type: "DELETE",
                       url: "/api/group/" + del_id,
                       data: del_id,
                       success: function () {
                           location.reload();
                       },
                       error: function (XMLHttpRequest, textStatus, errorThrown) {
                           alert("Не получилось удалить! Ошибка: " + errorThrown);
                       }

                   });
        }
        return false;
    });


</script>

</body>
</html>
